# --- SÉCURITÉ (NE JAMAIS ENLEVER) ---
.env

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# --- Docker & Données ---
# On ignore les données de la BDD et des serveurs Minecraft
# pour ne pas uploader 50Go de données sur GitHub
db_data/
api/servers_data/
minecraft_data/

# --- IDE (VS Code, etc.) ---
.vscode/
.idea/
*.swp